*{
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../fonts/TTLakesCondensed-Regular.eot);
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url(../fonts/TTLakesCondensed-Regular.woff) format('woff'),
        url(../fonts/TTLakesCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../fonts/TTLakesCompressed-Italic.eot);
    src: local('TT Lakes Compressed Italic'), local('TTLakesCompressed-Italic'),
        url('TTLakesCompressed-Italic.eot?#iefix) format')('embedded-opentype'),
        url(../fonts/TTLakesCompressed-Italic.woff) format('woff'),
        url(../fonts/TTLakesCompressed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../fonts/TTLakesCondensed-Bold.eot);
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/TTLakesCondensed-Bold.woff) format('woff'),
        url(../fonts/TTLakesCondensed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #F8F8F8;
    width: 100%;
    font-family: 'TT Lakes Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
}
.conteiner > ul{
    margin: -20px;
}
.conteiner {
    width: 100%;
    height: 110%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: -20px auto;
    background: #F8F8F8;
    position: relative;
}

.header {
    width: 100%;
	display: flex;	
    justify-content: space-between;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.header__communication{
    position: relative;
    display: flex;
    padding: 0 20px;
    margin-top: 20px;
    justify-content: space-between;
    height: fit-content;  
}
.menu{
    width: 320px;
    height: 110%;
    background: #fff;
    flex-shrink: 0;
}
.menu__vertical{
    width: 250px;
}
.menu__burger{
    display: none;
}
.menu__line{
    display: none;
}
.logo{
    display: none;
}
.menu__top{
    margin-top: -10%;
    display: flex;
    justify-content: space-between;
}
.menu__search{
    background-color: #FF3E79;
    width: 40px;
    position: absolute;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    background-image:url(../img/ic/icon.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.menu__middle a{
    font-family: "TT Lakes Compressed";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    position: relative;
    padding: 5px 0 5px 0;
    transition-duration:.1s ;
    transition-timing-function: ease-in-out;
}
.menu__middle a::before{
    content: '';
    width: 4px;
    transition-duration:.3s ;
    transition-timing-function: ease-in-out;
    position: absolute;
    left: -19px;
    top: -5px;
    border-radius: 0 4px 4px 0;
    height: 30px;
    opacity: 0;
    background-color: #41F6D7;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
}
.menu__middle .menu__link-active{
    color:  #7E7E82;
    padding-left: 5px;
}
.menu__middle .menu__link-active::before{
    opacity: 1;
}

.menu__middle a:hover {
    padding-left: 5px;
    color:  #7E7E82;
}
.menu__middle a:hover::before{
    opacity: 1;
}
.menu__bottom{
    position: relative;
}
.menu__phone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/call.svg);
    position: absolute;
    left: 20px;

}
.menu__chat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/chat.svg);
    position: absolute;
    left: 80px;
    
}
.menu__profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/profile.svg);
    position: absolute;
    left: 140px;
}
.menu__mail{
    font-family: "TT Lakes Condensed", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;

}
.menu__number{
    font-family: "TT Lakes Condensed";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.menu__en,
.menu__ch{
    font-family: "TT Lakes ";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

  /* connection style */
.connection{
    background-color: white;  
    width: 100%;
    display: none;
    justify-content: space-between;
}
.header{
    align-self: flex-end;
}
main{
    align-self: flex-end;
}
  /* connection right  */
.right__phone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/call.svg);
    position: absolute;
    right: 320px;

}
.right__chat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/chat.svg);
    position: absolute;
    right: 260px;
    
}
.right__profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/profile.svg);
    position: absolute;
    right: 200px;
}
.connection__doit{
    width: 40px;
    height: 40px;
    background-image: url(../img/b4/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 100px;
    background-size: 40px; 
}
.connection__just{
    width: 40px;
    height: 40px;
    background-image: url(../img/gg/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 40px;
    background-size: 40px; 
}
.connection__right{
    display: flex;
    position: relative;
    margin: 0px 0 30px 10px;
}
.connection__right > span{
    position: absolute;
    width: 3px;
    height: 35px;
    background: #EAEAEA;;
    right: 170px;
    top:25px;
}
   /* connection rigth end  */
   /* left start */
.connection__left{
    display: flex;
    position: relative;
    left: 6%;
    margin: 10px 0 0 10px;
}
.burger:focus{
    outline: none;
}
.menu__burger{
    position: relative;
    margin: 20px -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}
.burger:checked ~ .menu__burger > .menu__element{
    width: 0;
    height: 0;
}
.burger{
    display: none;
}
.menu__element{
    width: 15px;
    height: 3px;
    top:18px;
    left:8px;
    position: absolute;
    background-color: white;
    z-index: 2;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.menu__element::before{
    content: '';
    transform-origin: left center;
    position: absolute;
    width: 25px;
    height: 3px;
    top:-8px;
    left:0px;
    background-color: white;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}
.menu__element::after{
    content: '';
    transform-origin: left center;
    position: absolute;
    width: 25px;
    height: 3px;
    top:8px;
    left:0px;
    background-color: white;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}
.menu__burger{
    width: 40px;
    height: 40px;
}
.menu__line{
    position: absolute;
    width: 3px;
    height: 35px;
    background: #EAEAEA;;
    left: 55px;
    top:25px;
}
.logo{
    margin-left: 35px;
    position: absolute; 
    width: 98px;
    height: 52px;
    background-image: url(../img/Group.svg);
    background-size: contain;
}
.logo-1{
    margin-left: 35px;
    position: absolute; 
    width: 98px;
    height: 52px;
    background-image: url(../img/Group.svg);
    background-size: contain;
    left: 100px;
    top: 35px;
    display: none;
}

.line-1{
    position: absolute;
    position: absolute;
    width: 3px;
    height: 35px;
    background: #EAEAEA;;
    left: 105px;
    top:45px;
    display: none;
}
    /* left end  */
.header__communication > li{
    margin-right: 50px ;
}
.theme-button{
    padding: .33em .66em .33em 1.66em;
    border: 1px solid rosybrown;
    border-radius: 5px;
    margin-bottom:  10px ;
    transform: translateY(-10px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'TT lakes Condensed';
    font-size: 15px;
    background-image: url(../img/ic/light_mode_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 3px 5px;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.theme-button:hover{
    background-color: white;
}
.header__communication > li > a{
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: right;
    letter-spacing: -0.2px;

    color: #1B1C21;
}

.doit{
    position: relative;
    margin-top: -10px;
}
.doit::after{
    content: '';
    width: 40px;
    height: 40px;

    background-image: url(../img/b4/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: -50px;
    top:-8px;
    background-size: 40px; 
}
.just::after{
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../img/gg/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 40px;
    top:13px;
    background-size: 40px; 
}
/* connection style end */
.header__nav{
    display: flex;
    flex-shrink: 1;
    overflow: hidden;
    height: fit-content;
    margin-top: 1%;
    margin-bottom: -2%;
}
@media (min-width:1120px) {
    .header__nav{
        margin-bottom: 0%;
    }
}
.header__nav li{
    margin-top: -10px;
    flex-shrink: 0;
    text-align: center;
}
li{
    list-style: none;
    padding: 20px;
}
a{
    text-decoration: none;
    font-family: 'TT Lakes Condensed';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}
.header__nav > li > a:hover{
    border: 2px solid lightgray;
    border-radius: 5px;
    background: white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header__nav > li > a:visited{
    border: 2px solid lightgray;
    border-radius: 5px;
    background: white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.title {
    padding-left: 35px;
    position: relative;
    font-family: 'TT Lakes Condensed';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 143% */
    margin-top: 30px;
    letter-spacing: -0.6px;

    color: #1B1C21;
}
.title::before{
    content: '';
    position: absolute;
    left:0;
    margin-top: 0px;
    width: 3px;
    height: 100%;
    background: lightgray;
    border-radius: 2px;
}
.about {
    display: flex;
	width: 100%;

}
@media (min-width:1200px){
    .header__nav{
        flex-wrap: wrap;
    }
}
@media (max-width:1200px) {
    
    .connection{
        display: flex;
        flex-direction: column;
        margin-top:20px;
        padding-top: 0px;
        padding-bottom: 10px;
     }
     .line-1{
         display: inline;
     }
     .logo-1{
         display: inline;
     }
     .menu{
         position: absolute;
         transform: translateX(-320px);
         transition: 1s ease;
         -webkit-transition: 1s ease;
         -moz-transition: 1s ease;
         -ms-transition: 1s ease;
         -o-transition: 1s ease;
         z-index: 2;
         -webkit-transform: translateX(-320px);
         -moz-transform: translateX(-320px);
         -ms-transform: translateX(-320px);
         -o-transform: translateX(-320px);
}
    
    .logo-2{
        margin-left: 70%;
    }
    .menu__burger{
        display: inline-block;
        position:absolute;
        left: 50px;
        top:23px;
        z-index: 3;
    }
    .burger:checked ~ .menu{
        transform: translateX(0);
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .burger:checked ~ .menu .logo{
        display: none;
    }
    .burger:checked ~ .menu__burger .menu__element::before{
        transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -webkit-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -moz-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -ms-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -o-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    }
    .burger:checked ~ .menu__burger .menu__element::after{
        transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -webkit-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -moz-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -ms-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -o-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
    }
    
    .burger:checked ~ .menu__burger .menu__element{
        height: 0px;
        width: 0;
    }
    
     .header__nav{
         overflow: auto;
     }
     .header__communication{
         display: none;
     }
    .about > img{
        width: 40%;
        object-fit: contain;
     }
    .doit{
        position: absolute;
        top:0px;
    }
    
} 
 @media (max-width:920px) {

     .connection{
        display: flex;
        justify-content: space-between;
     }
    
     .header__communication{
         display: none;
     }
    .about > img{
        width: 30%;
        object-fit: cover;
     }
    .conteiner__box{
        width: 100%;
    }
    .conteiner{
        height: 120%;
    }
} 

 @media (max-width:863px) {
    .connection__left{
        margin:8px 0 0 0;
    }
    .connection__right{
        margin:0px 0 30px 0
    }
    .connection__line{
        left: 55px;
    }
    .burger:checked + .menu__burger .menu__element::before{
        transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -webkit-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -moz-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -ms-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -o-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    }
    .burger:checked + .menu__burger .menu__element::after{
        transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -webkit-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -moz-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -ms-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -o-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
    }
    
    .burger:checked + .menu__burger .menu__element{
        height: 0px;
        width: 0;
    }
    .about {
        flex-wrap: wrap;
     }
    .about > img{
       width: 100%;
        margin:20px 0;
        
     }
     .right__chat{
        display:none ;
     }
     .right__profile{
        display:none ;
     }
     .right__phone{
        display:none ;
     }
    
} 
@media (max-width:640px) {
    body{
        padding: 0;
        margin:0;
        width: 100%;
    }
    .conteiner{
        width: 100%;
        margin: 0;
    }
    .connection__left{
        left: 8%;
    }
    .connection__right{
         margin:0px 0 30px 0 ;
    }
    .connection__right > span{
        right: 140px;
    } 
    .connection__just{
        right: 10px;
    }
    .connection__doit{
        right: 70px;
    }
}
@media (max-width:420px) {
    
    .connection__left{
        left: 4%;
    }
    .menu{
        height: 120%;
    }
    .menu__burger{
        left:25px;
    }
    .menu__middle li{
        margin-bottom: -10%;
    }
    .menu__bottom .menu__li{
        margin-top: -25px;
    }
    .menu__bottom li:last-child{
        margin-top: -15%;
    }
    .logo-1{
        top: 45px;
        left:80px;
        width:70px;
        background-repeat: no-repeat;
        background-position:0 0;
        background-size: contain;
    }
    .connection__line{
        left: 50px;
    }
    .connection__right span{
        right: 130px;
    }
    .line-1{
        left: 90px;
    }
}
@media (max-width:320px) {
    .logo-1{
        top: 45px;
        left:35px;
        width:60px;
        background-repeat: no-repeat;
        background-position:0 5px;
    }
    .menu__burger{
        width: 30px;
        height: 30px;
        top: 30px;
    }
    .menu__burger .menu__element{
        width:15px;
        margin-top: -1px;
        top:15px;
        left: 58px;
        height: 2px;
    }
    .menu__burger .menu__element::after{
        width:15px;
        height: 2px;
        margin-top: -1px;
    }
    .menu__burger .menu__element::before{
        width:15px;
        height: 2px;
        margin-bottom: -2px;
    }
    .burger:checked + .menu__burger > .menu__element::before{
        transform: rotateZ(45deg) translateX(3.5px) translateY(.5px);
        -webkit-transform: rotateZ(45deg) translateX(3.5px) translateY(.5px);
        -moz-transform: rotateZ(45deg) translateX(3.5px) translateY(.5px);
        -ms-transform: rotateZ(45deg) translateX(3.5px) translateY(.5px);
        -o-transform: rotateZ(45deg) translateX(3.5px) translateY(.5px);
}
    .burger:checked + .menu__burger > .menu__element::after{
        transform: rotateZ(-45deg) translateX(2.5px) translateY(.5px);
        -webkit-transform: rotateZ(-45deg) translateX(2.5px) translateY(.5px);
        -moz-transform: rotateZ(-45deg) translateX(2.5px) translateY(.5px);
        -ms-transform: rotateZ(-45deg) translateX(2.5px) translateY(.5px);
        -o-transform: rotateZ(-45deg) translateX(2.5px) translateY(.5px);
}
    .line-1{
        left:55px;
        width:2px;
        height:30px;
        top:50px;
    }
    .connection__right{
        margin-top: 10px;
    }
    .connection__right span{
        width:2px;
        height:30px;
        right:85px;
        top: 20px;
    }
    .menu__search{
        width: 30px;
        height: 30px;
        background-size: 15px;
        margin-top: 15px;
    }
    .connection__just{
        width:30px;
        height:30px;
        background-size: 30px;
        top: 20px;
    }
    .connection__doit{
        width:30px;
        height:30px;
        background-size: 30px;
        top: 20px;
        right: 50px;
    }
}

.about__image{
    width: 50%;
    object-fit:cover;
    margin:30px 30px 40px 15px; 
}
span{
    font-family: 'TT Lakes Compressed';
}
.about__text-1{
    margin:35px 15px 30px 30px;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
 }
 .checkbox:checked ~ .about__text-2{
     display: none;
 }
 .checkbox:checked ~ .more__value-2{
     display:none ;
 }
 .checkbox:checked ~ .more__value-1{
   display: inline;
 }
 .more__value-2 img{
     transform: rotateX(180deg);
     -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
     -ms-transform: rotateX(180deg);
     -o-transform: rotateX(180deg);
    
}
label{
    display: flex;
    flex-direction: column-reverse;
}
.more__value-1{
    display: none;
    margin-left: 30px;
}
.more__value-2{
   display: inline;
   margin-left: 30px;
}
.text-1{
    order: 2;
    margin:0 15px -7% 30px ;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
}
 .about__text-2{
    order: 1;
    margin:0 15px 30px 30px ;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
    
    
 }
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: .01px;
    height: .01px;
    overflow: hidden;
    clip: rect(0 0 0 0); 
    margin-left: 30px;
	margin-top: -3%;
    margin-bottom: 30px;
}

