@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../fonts/TTLakesCondensed-Regular.eot);
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url(../fonts/TTLakesCondensed-Regular.woff) format('woff'),
        url(../fonts/TTLakesCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../fonts/TTLakesCompressed-Italic.eot);
    src: local('TT Lakes Compressed Italic'), local('TTLakesCompressed-Italic'),
        url('TTLakesCompressed-Italic.eot?#iefix) format')('embedded-opentype'),
        url(../fonts/TTLakesCompressed-Italic.woff) format('woff'),
        url(../fonts/TTLakesCompressed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../fonts/TTLakesCondensed-Bold.eot);
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/TTLakesCondensed-Bold.woff) format('woff'),
        url(../fonts/TTLakesCondensed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: antiquewhite;
    width: 100%;
    font-family: 'TT Lakes Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
}
.conteiner {
    width: 80%;
    margin: -20px auto;
    background: #F8F8F8;;
}
.service {
    width: 100%;
	display: flex;	
    justify-content: space-between;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.service__communication{
    position: relative;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: fit-content;  
}
  /* menu style */
.menu{
    background-color: white;  
    width: 100%;
    display: none;
    justify-content: space-between;
}

.burger__phone{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/call.svg);
    position: absolute;
    background-size: 20px;
    top:30px;
    left: 35px;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.burger__chat{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/chat.svg);
    position: absolute;
    top:30px;
    left: 35px;
    z-index: -1;
    background-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.burger__profile{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/profile.svg);
    background-size: 20px;
    position: absolute;
    top:30px;
    left: 35px;
    z-index: -1;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
  /* menu right  */
.menu__phone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/call.svg);
    position: absolute;
    right: 320px;

}
.menu__chat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/chat.svg);
    position: absolute;
    right: 260px;
    
}
.menu__profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/ic/profile.svg);
    position: absolute;
    right: 200px;
}
.menu__doit{
    width: 40px;
    height: 40px;
    background-image: url(../img/b4/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 100px;
    background-size: 40px; 
}
.menu__just{
    width: 40px;
    height: 40px;
    background-image: url(../img/gg/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 40px;
    background-size: 40px; 
}
.menu__right{
    display: flex;
    position: relative;
}
.menu__right > span{
    position: absolute;
    width: 3px;
    height: 35px;
    background: #EAEAEA;;
    right: 170px;
    top:25px;
}

.right__conteiner{
    display: flex;
}
   /* menu rigth end  */
   /* left start */
.menu__left{
    display: flex;
    position: relative;
    left: -4%;
}

.menu__burger{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: .01px;
    height: .01px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: relative;
    margin: 20px -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}
.menu__element{
    position: absolute;
    width: 15px;
    height: 3px;
    top:38px;
    left:33px;
    background-color: white;
    z-index: 2;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.menu__element::before{
    content: '';
    transform-origin: left center;
    position: absolute;
    width: 25px;
    height: 3px;
    top:-8px;
    left:0px;
    background-color: white;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}
.menu__element::after{
    content: '';
    transform-origin: left center;
    position: absolute;
    width: 25px;
    height: 3px;
    top:8px;
    left:0px;
    background-color: white;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}
.line{
    position: absolute;
    width: 3px;
    height: 35px;
    background: #EAEAEA;;
    left: 85px;
    top:25px;
}
.logo{
    margin-left: 35px;
    position: absolute; 
    width: 98px;
    height: 52px;
    background-image: url(../img/Group.svg);
}
    /* left end  */
.service__communication > li{
    margin-right: 50px ;
}
.service__communication > li > a{
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: right;
    letter-spacing: -0.2px;

    color: #1B1C21;
}

.doit{
    position: relative;
}
.doit > span{
    width: 40px;
    height: 40px;
    background-image: url(../img/b4/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: -50px;
    top:-8px;
    background-size: 40px; 
}
.just > span{
    width: 40px;
    height: 40px;
    background-image: url(../img/gg/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 40px;
    top:13px;
    background-size: 40px; 
}
/* menu style end */
.service__point{
    display: flex;
    flex-shrink: 1;
    overflow: hidden;
    height: fit-content;
    margin-top: -2%;
    margin-bottom: -2%;
}
@media (min-width:1120px) {
    .service__point{
        margin-bottom: 0%;
    }
}
.service__point li{
    margin-top: -10px;
    flex-shrink: 0;
    text-align: center;
}
li{
    list-style: none;
    padding: 20px;
}
a{
    text-decoration: none;
    font-family: 'TT Lakes Condensed';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}
.service__point > li > a:active{
    border: 2px solid lightgray;
    border-radius: 5px;
    background: white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.title {
    padding-left: 35px;
    position: relative;
    font-family: 'TT Lakes Condensed';
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */

    letter-spacing: -0.6px;

    color: #1B1C21;
}
.title::before{
    content: '';
    position: absolute;
    left:0;
    width: 3px;
    height: 100%;
    background: lightgray;
    border-radius: 2px;
}
.about {
    display: flex;
	width: 100%;

}
@media (min-width:1200px){
    .service__point{
        flex-wrap: wrap;
    }
}
@media (max-width:1200px) {
    
    .menu{
        display: flex;
        justify-content: space-between;
     }
    
     .service__point{
         overflow: auto;
     }
     .service__communication{
         display: none;
     }
    .about > img{
        width: 40%;
        object-fit: contain;

     }
    
} 
 @media (max-width:920px) {

     .menu{
        display: flex;
        justify-content: space-between;
     }
     .service__communication{
         display: none;
     }
    .about > img{
        width: 30%;
        object-fit: cover;
     }
} 

 @media (max-width:863px) {
    .right__conteiner{
        display: none;
    } 
    .line{
        left: 95px;
    }
    .burger:checked + .menu__element::before{
        transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -webkit-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -moz-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -ms-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
        -o-transform: rotateZ(45deg) translateX(2px) translateY(-3px);
    }
    .burger:checked + .menu__element::after{
        transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -webkit-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -moz-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -ms-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
        -o-transform: rotateZ(-45deg) translateX(1.3px) translateY(2.5px);
    }
    .burger:checked + .menu__element{
        height: 0;
        width: 0;
    }
    .burger:checked ~ .burger__phone{
        top: 5px;
        left: 60px;
          z-index: 1;
    }
    .burger:checked ~ .burger__chat{
        left: 70px;
        z-index: 1;
    }
    .burger:checked ~ .burger__profile{
        top: 55px;
        left: 60px;
        z-index: 1;
    }
    .about {
        flex-wrap: wrap;
     }
    .about > img{
       width: 100%;
        margin:20px 0;
        
     }
    
    
} 
@media (max-width:640px) {
    .conteiner{
        width: 100%;
        margin: -2%;
    }
    .menu__left{
        left: -8%;
    }
    .menu__right > span{
        right: 140px;
    } 
    .menu__just{
        right: 10px;
    }
    .menu__doit{
        right: 70px;
    }
}
@media (max-width:420px) {
    .menu__left{
        left: -12%;
    }
}

.about__image{
    width: 50%;
    object-fit:cover;
    margin:30px 30px 40px 15px; 
}
span{
    font-family: 'TT Lakes Compressed';
}
.about__text-1{
    margin:35px 15px 30px 30px;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
 }
 .checkbox:checked ~ .about__text-2{
     display: none;
 }
 .checkbox:checked ~ .checkbox__value-2{
     display:none ;
 }
 .checkbox:checked ~ .checkbox__value-1{
   display: inline;
 }
 .checkbox__value-2 img{
     transform: rotateX(180deg);
     -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
     -ms-transform: rotateX(180deg);
     -o-transform: rotateX(180deg);
    
}
label{
    display: flex;
    flex-direction: column-reverse;
}
.checkbox__value-1{
    display: none;
    margin-left: 30px;
}
.checkbox__value-2{
   display: inline;
   margin-left: 30px;
}
.text-1{
    order: 2;
    margin:0 15px -7% 30px ;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
}
 .about__text-2{
    order: 1;
    margin:0 15px 30px 30px ;
    font-family: 'TT Lakes Compressed';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    
    color: #1B1C21;
    
    
 }
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: .01px;
    height: .01px;
    overflow: hidden;
    clip: rect(0 0 0 0); 
    margin-left: 30px;
	margin-top: -3%;
    margin-bottom: 30px;
}

